/* styles.css */
@media (min-width: 640px) {
  .sm-flex1000 {
      display: flex;
  }
}
.slick-list {
  touch-action: pan-y;
}

.slick-slide {
  transition: opacity 0.3s ease;
}

.slick-slide:not(.slick-active) {
  opacity: 0.5;
}

@media (max-width: 550px) {
  .slick-dots {
    bottom: -30px;
  }
}

